<% const convertTime = (sec) => {
    sec = Number(sec);
    let d = Math.floor(sec / (3600*24));
    let h = Math.floor(sec % (3600*24) / 3600);
    let m = Math.floor(sec % 3600 / 60);
    let s = Math.floor(sec % 60);

    let dDisplay = d > 0 ? d + (d == 1 ? " day " : " days ") : "";
    let hDisplay = h > 0 ? h + (h == 1 ? " hour " : " hours ") : "";
    let mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes ") : "";
    let sDisplay = s > 0 ? s + (s == 1 ? " second" : " seconds") : "";
    return dDisplay + hDisplay + mDisplay + sDisplay;

} %>

<% const convertToMile = (meter) => {
    return meter * 0.000621
} %>


<h1>Your Trip Summary</h1>
<% if (!locals.isError){ %>
    
    <p>Total distance: <%= Math.round(convertToMile(locals.result.distance)) %> miles</p>
    <p>Total time: <%=convertTime(locals.result.duration) %></p>
    
    <h2>Summary of Stops</h2>
    <ol>
        <% for (let leg of locals.result.legs){ %>
            <li>
                <p>Start: <%= leg.start.name %></p>
                <p>Stop: <%= leg.stop.name %></p>
                <p>Distance: <%= Math.round(convertToMile(leg.distance)) %> miles</p>
                <p>Time: <%= convertTime(leg.duration) %></p>
            </li>
        <%}%>
    </ol>
<%}%>
<h3><%= locals.weatherResult %></>

